body {
  background-image: url(../img/terrazzo.png);
  background-attachment: fixed;
  background-position: bottom;
}

img {
  max-width: 100%
}

#leftheaderbox img{
  width: 30%;
}

.header {
  -webkit-box-shadow: 0px 10px 28px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 28px -12px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 28px -12px rgba(0,0,0,0.75);
  padding: 10px 0 10px;
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  background: rgba(255,255,255,0.95);
}

.headbox {
  display: table;
}
.header .col-md-6 {
  display: table-cell;
  vertical-align: middle;
}

.maincontent {
  margin-top: 108px;
}

.maincontent .container{
  background: white;
}

a {
  color:#00b3b4;
}

a:hover {
  color:#4556c8;
  text-decoration: none;
}

.mainheader {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

#trackbox {
  margin-bottom: 2rem;
  background: #00b3b4;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#lefttrackbox,
#centertrackbox {
  border-right: 1px solid white;
}

#bannerbox {
    padding: 0px;
}

#mainbox {
  padding-top: 0px;
  padding-bottom: 4rem;
}

#titlebox {
  padding: 13px 0 7px;
  background: #4556c8;
  color: white;
}

#titlebox h1 {
  margin: 0px;
}

.footer {
  text-align: center;
  background-color: #4556c8;
  color: white;
}

.footer a {
  color: #00b3b4;
}
.footer a:hover {
  color: #d588fd;
}
.footer p {
  margin-bottom: 0px;
}

#trackbox a {
  color: white;
}

#trackbox a:hover {
  color: #4556c8;
}

.quizstartbutton {
  text-align: center;
  font-weight: bold;
  color: #00b3b4;
}

.quiz{
  display: none;
  background: grey;
  padding: 10px;
  margin-top: 2rem;
  text-align: center;
}

.quizintrotext {
  color: white;
}


.questionbox {
  background: white;
  padding: 5px;
  text-align: left;
  margin-bottom: 10px;
  display: none;
}

.questionbox:nth-of-type(1),
.questionbox:nth-of-type(2) {
  display: block;
}

#submit {
  display: none;
}
button {
  color:white;
}

.bg-custom-blue {
  background-color: #4556c8;
}

.bg-custom-blue:hover {
  background-color: #00b3b4;;
}

.optional {
  font-style: italic;
  color: #00b3b4;
}

#namebox {
    display: inline-block;
    width: 50%;
}

.form-group label {
  color:white;
}

.namespan {
  font-weight: bold;
}

.result{
    text-align: center;
    margin: 2rem;
    padding: 2rem;
    border: 5px black dashed;
    display: none;
}

.result img{
    display: block;
    margin: 0 auto;
    width: 300px;
}

@media (min-width: 768px) {
  #rightheaderbox {
    text-align: center
  }
}

@media (max-width: 768px) {
  .maincontent {
    margin-top: 146px;
  }
  .header .col-md-6 {
    text-align: center;
  }
}
